<div class="volcano">
    <div class="volcano-img">
        <img src="{{this.image}}">
    </div>
    <div class="volcano-info">
        <h1>{{this.name}}</h1>
        <p><span>Location: </span>{{this.location}}</p>
        <p><span>Volcano Type: </span>{{this.typeVolcano}}</p>
    </div>

    <a href="/details/{{this._id}}" class="btn-details">Details</a>
</div>